*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
    z-index: 10000;
    margin: 0;
    background-color: black;
    position:relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
}
.logo img{
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 8px;
    border-radius: 100%;
    object-fit: cover;
    width: 105px;
    height: 105px;
    
}

.nav-links ul{
      list-style: none;
      display: flex;
      flex-direction: row; 
      font-size:x-large;
     margin-top: 40px;
    margin-left: 500px;
     
  }
  .nav-links ul li{
    margin: 0 20px;
      height: 25px;
      padding: 10px;
  }
  .nav-links  a{
      text-decoration: none;
      color: white;
      position: relative;
      transition: 0.3;
  }
  .nav-links  a:hover {
      color: lightblue;
      
  }
  
  .nav-links a::after{
      content:"" ;
      display: block;
      width:0;
      height: 2px;
      background-color: orange;
      margin-top: 3px;
      transition: 0.2s;
  }
  .nav-links a:hover::after{
       width: 100%;
  }
    .hamburger{
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
  }

  .bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #fff;
  transition: all 0.3s ease-in-out;
  }

  .nav.active{
      display: flex;
  }

  @media (max-width:768px){
    .navbar{
      backdrop-filter: none;
    }

    .nav-links .nav{
      display: none;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.7rem !important;
      position: absolute;
      height: 100vh;
      width: 250px;
      top: 0;
      right: 0;
      padding: 5rem 1.5rem;
      box-shadow: 0 10px 10px rgba(0, 0,0, 0.5);
      backdrop-filter: blur(10px);
    }

.nav-links .nav.active{
  display: flex;
}
  .hamburger{
      display: block;
      z-index: 999;
    }

    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }

}

@media (max-width:480px){
  .nav-links{
    padding: 0 1rem;
  }

  .nav-links .nav li a{
  font-size: 1.2rem;
  padding: 3px 15px;
  }
}

 
 
 
 
 
 /* Breadcrumb */
        .breadcrumb {
            margin: 20px 40px;
            color: #555;
            font-size:large;
        }
        .breadcrumb span {
            margin: 0 5px;
        }
        .breadcrumb a{
          text-decoration: none;
          color: #555;
        }

        /* Product Section */
        .container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            padding: 20px 40px;
            margin-top: 60px;
        }
        .product-image {
          margin-right: 300px;
            
        }
        .product-image img {
            width: 400px;
            height: 420px;
            border-radius: 15px;
          
           
        }
        .product-small{
             flex: 1;
        }
        .product-small img{
            width: 40%;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0,0,0,0.2);
            border: solid 2px black;
            
           
        }
        .product-details {
            flex: 1;
            padding: 30px;
            border-radius: 15px;
            
        }
        .product-title {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .product-price {
            font-size: 22px;
            color: #333;
            margin-bottom: 30px;
        }
    .brand{
      margin-top: 200px;
      text-align: center;
    }
     select{
      padding: 10px;
      font-size: 16px;
    }

    .form-group {
      margin-bottom: 15px;
   
    }
   
    label {
      display: block;
      margin-bottom: 5px;
    }

    select, input[type="file"] {
      width: 100%;
      padding: 5px;
      font-size: 15px;
    }
    .btn {
            width: 100%;
            padding: 15px;
            background: black;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 20px;
    }

     .content {
      padding: 30px;
     padding: 30px;
      max-width: 500px;
      margin-left: 5px;
    
    }

    .h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .product-info p {
      margin-bottom: 20px;
      
    }

    .label {
      font-weight: bold;
    }

    .description {
      font-size: 15px;
      line-height: 1.6;
      color:black;
    }