*{
  margin: 0;
}
.navbar {
    z-index: 10000;
   
    margin: 0;
    background-color: black;
    position:relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
}
.logo img{
  background-color: white;
    border-radius: 100%;
    object-fit: cover;
    width: 105px;
    height: 105px;
}
.logo{
  color: white;

}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row; 
    font-size:x-large;
  margin-top: 40px;
  margin-left: 500px;
   
}
.navbar ul li{
    height: 25px;
    padding: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover {
    color: lightblue;
}

.navbar a::after{
    content:"" ;
    display: block;
    width:0;
    height: 2px;
    background-color: orange;
    margin-top: 3px;
    transition: 0.2s;
}
.navbar a:hover::after{
     width: 100%;
}
.navlinks.active{
    display: flex;
}

.search{
      position: relative;
}


.search img{
      width: 25px;
      height: 30px;
      border-radius: 50px;
      align-items: right;
}
.search button{
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 11px;
      outline: none;
      border: none;
      cursor: pointer;
      background: transparent;
}
.container1{
      width: 300px;
     padding: 40px;
}
h2{
      margin-top: 20px;
      color: #333;
}
.filter-section{
      margin-bottom: 20px;
     width: 500px;
}
.filter-section label{
      display: block;
      margin: 6px 0;
}
input[type="checkbox"]{
      margin-right: 3px;
}
.foot {
  text-align: center;
 margin-bottom: 0px;
 background-color:black;
 justify-content: space-between;
 padding:  80px;
 color:white;
 display: flex;
}
.foot h1{
    text-align: left;
}
.use a{
   color: white;
   text-decoration: none;
}
.container{
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
      justify-content:center ;
      
}

.product-card {
      width: 250px;
      position: relative;
      background-color: white;
      
}
.Contain{
      display: flex;
}
.ribbon {
      position: absolute;
      top:10px;
      left: -10px;
      height: 23px;
      color: white;
      transform: rotate(-47deg);
      font-weight:bold;
      text-align: center;
      background-color: rgb(220 38 38 );
      width: 6rem;
      clip-path: polygon(20% 10%, 0% 100%,100% 100%, 80% 10%);
}
.phone-case {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0);
}
    
.phone-case:hover{
      cursor: pointer;
      transform: scale(1.1);
       transition:all 1.0s ease;
}
.product-name {
      margin-top: 15px;
      margin-right: 0%;
      margin-bottom: 0%;
}

.product-category {
      color: gray;
      font-size: 14px;
      margin-left: 0%;
      margin-top: 3%;

}

.inner-details{
      display:flex;
      flex-wrap: nowrap;
}

.price {
      margin-top: 15px;
      font-weight: bold;
      font-size: 14px;
      color: #333;
      margin-left: 51px;
}

.heading{
     text-align: center;
     margin-bottom: 70px;
     padding: 30px;

}
.h1{
      font-size:270%;
}
.p{
      padding: 10px;
      font-size: 16px;
      color: #4d4c4c;

}
