*{
  margin: 0;
}
.navbar {
    z-index: 10000;
    padding: 30px;
    margin: 0;
    background-color: #2c3e50;
    position:relative;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: white;
    font-size: x-large;
    margin-left: 40px;
 
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row; 
    font-size: x-large;
    margin-right: 50px;
}
.navbar ul li{
    height: 25px;
    padding: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover {
    color: lightblue;
}

.navbar a::after{
    content:"" ;
    display: block;
    width:0;
    height: 2px;
    background-color: orange;
    margin-top: 3px;
    transition: 0.2s;
}
.navbar a:hover::after{
     width: 100%;
}
.navlinks.active{
    display: flex;
}
.image img{
  height: 200px;
  width: 190px;
  margin: 5%;
}
.case img{
  width: 600px;
}
.about {
  margin-bottom: 40%;
 justify-content: center;
  margin-right: 20px;
  margin-top: 20px;

}
.about h1,h4{
    padding: 10px;
    
}
.demo{
display: flex;

}
.demo button{
  padding:15px;
  background-color:white;
  border:0.4px solid black;
  font-family:sans-serif;
  font-weight: bold;
  border-radius: 10px;
}
.demo button:hover{
    background-color: cadetblue;
}
.btn{
    display: flex;
    height: 30px;
    gap: 10px;
    padding-bottom: 20px;
}

.active{
    background-color:rgb(141, 238, 141) ;
}

.item-container{
      display: flex;
    float: left;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
 height: 170px;
  width: 200px;    
  border-radius: 10px;
  box-shadow: 1px 0.5px 0.5px black;
  background-color:antiquewhite;
}
.card img{
     width:100%;
     border-radius: 8px;
     object-fit: cover;
     height: 70%;

}
.dynamic{
    text-align: center;

}
.form{
    margin-bottom: 10px;
}

label{
    display: block;
    margin-top: 1em;
}
input,select{
    width: 100%;
}
input:invalid{
    background-color: rgb(8, 8, 8);
}
.my-popular h1 p{
  padding: 200px;
}
.popular-container, .popular1-container, .bestselling-container, .bestselling1-container{

  padding-top: 2rem;
  display: flex;
  justify-content: center;
 

}
.popular-card, .popular1-card, .bestselling-card, .bestselling1-card{ 
  width: 200px;
  margin: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease;
  
}
.popular-card:hover, .popular1-card:hover, .bestselling-card:hover, .bestselling1-card:hover{
    overflow: hidden;
    cursor: pointer; 
    transform: translateY(-10px);
}
.popular, .popular1, .bestselling, .bestselling1{
  display: flex ;
  justify-content: center;
  text-align: center;
}
.popular-card img, .popular1-card img, .bestselling-card img, .bestselling1-card img{
  height: 260px;
  width: 100%;
 
 
}
.popular-container, .popular1-container, .bestselling-container, .bestselling1-container{

  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

}
.foot {
  text-align: center;
 margin-bottom: 0px;
 background-color:#2c3e50;
 justify-content: space-between;
 padding:  20px;
 color:white;
 display: flex;
}
.foot h1{
    text-align: left;
}
.bestproducts{
  padding: 30px;
}
.h-1{
  padding: 60px;

}
.h-1 h1{
   font-size: 3rem;
}
.god{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -200%);
  background-color:white;
  width: 170x;
  padding: 2px;
  
}
.container-g{
  color: black;
  position: relative;
  text-align: center;
  
}
.gods img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
   
}
.gods-3{
  display: flex;
  gap: 3rem;
  padding: 0%;
  
}
.gods-4{
  display: flex;
  padding: 0%;
  gap: 3rem;
}
 .gods_container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   gap: 5.5rem;
   
 }
.shop, h1, p{
    text-align: center;
    padding: 3px;
}
